<main class="contenedor">
    <form action="/editar-perfil" method="post" class="default-form">
        <div class="campo">
            <label for="nombre">Nombre</label>
            <input value="{{usuario.nombre}}" type="text" name="nombre" id="nombre" placeholder="Tu Nombre" required>
        </div>
        <div class="campo">
            <label for="email">E-mail</label>
            <input value="{{usuario.email}}" type="email" name="email" id="email" placeholder="Tu E-mail" required>
        </div> 
        <div class="campo">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" placeholder="Tu Password">
        </div> 
        <div class="campo">
            <input type="submit" value="Guardar Cambios" class="btn btn-azul">
        </div>
    
    </form>
</main>